<h1>Listing days</h1>

	<table>
	  <thead>
	    <tr>
	      <th>Days in canada this year</th>
	      <th>Days in canada last year</th>
	      <th>Days in canada tax</th>
	      <th></th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @days.each do |day| %>
	      <tr>
	        <td><%= day.days_in_canada_this_year %></td>
	        <td><%= day.days_in_canada_last_year %></td>
	        <td><%= day.days_in_canada_tax %></td>
	        <td><%= link_to 'Show', day %></td>
	        <td><%= link_to 'Edit', edit_day_path(day) %></td>
	        <td><%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<br>

	<%= link_to 'New Day', new_day_path %>